Source: zextras-zapp-mails
Section: comm
Priority: optional
Maintainer: Zextras Packaging Services <gianluca.boiano@zextras.com>
Uploaders: Zextras Packaging Services <gianluca.boiano@zextras.com>
Standards-Version: 3.9.5
Homepage: https://zextras.com

Package: zextras-zapp-mails
Priority: optional
Architecture: any
Depends: zimbra-base, zextras-zapp-shell
Description: Mails app for Zextras
